@charset "UTF-8";

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/KumbhSans-VariableFont_YOPQ,wght.ttf') format('truetype');
  font-weight: 100 900; /* Work Sans 폰트가 지원하는 굵기 범위 (일반적으로 100~900) */
  font-style: normal;
  font-display: swap;
}


$font-family-primary: "Kumbh Sans", sans-serif;

//Text Preset 1 - Kumbh Sans Bold - 44px - 48px Line Height - 0px Line Spacing
@mixin text-preset-1 {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}
//Text Preset 6 - Kumbh Sans Bold - 12px - 15px Line Height - 1.85px Line Spacing
@mixin text-preset-6 {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.85px;
}
//Text Preset 2 - Kumbh Sans Bold - 28px - 32px Line Height - 0px Line Spacing
@mixin text-preset-2 {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
//Text Preset 3 (Bold) - Kumbh Sans Bold - 16px - 26px Line Height - 0px Line Spacing
@mixin text-preset-3-B {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
//Text Preset 3 - Kumbh Sans Regular - 16px - 26px Line Height - 0px Line Spacing
@mixin text-preset-3-R {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
//Text Preset 4 - Kumbh Sans Regular - 15px - 26px Line Height - 0px Line Spacing
@mixin text-preset-4 {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}
//Text Preset 5 - Kumbh Sans Bold - 13px - 16px Line Height - 2px Line Spacing
@mixin text-preset-5 {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}


