@charset "UTF-8";


$Orange: #ff7d1a;
$Orange-500: #FF7E1B;
$Orange-300: #FFAB6A;

$Pale-orange: hsl(25, 100%, 94%);

$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayis-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);


$Grey-950: #1D2026;
$Grey-500: #69707D;
$Grey-300: #C3CAD9;
$Grey-100: #E4E9F2;
$Grey-50: #F6F8FD;
