@use 'fonts'as *;
@use 'reset'as *;
@use 'variables'as *;
@use 'mixins'as *; // _mixins.scss 파일이 같은 폴더에 있는 경우
@use 'layout'as *;
@use 'utilities'as *;

:root {
  --page-max: 69.375rem; // 1110px (디자인 컨테이너)
}

body {
  background-color: #fff;
}

.c-attribution,
.c-header__inner,
.c-product {
  --measure: var(--page-max);
}

.c-skip-link {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10000;
  padding: 0.75rem 1rem;
  background: #fff;
  color: #000;
  text-decoration: underline;
  transform: translateY(calc(-100% - 2rem));

  &:focus {
    transform: translateY(0);
  }
}

button {
  /* 배경 및 테두리 초기화 */
  background: none;
  background-color: transparent;
  border: none;

  /* 내부 여백 및 외곽선 초기화 */
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;

  /* 마우스 커서 및 정렬 */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* ################# Header  ################ */
.c-header {
  padding-block: 19px;
  align-items: center;

  .c-header__inner.l-center {
    justify-content: flex-start;

    .c-header__start {
      --space: 1rem;
      align-items: baseline;

      .c-header__menu-toggle {
        // 햄버거 메뉴
      }

      .c-header__logo {
        img {
          padding: 0;
          margin: 0;
        }
      }

      .c-header__nav {
        .c-nav__close {
          svg {}
        }

        .c-nav__list {
          display: none;

          .c-nav__item {
            .c-nav__link {
              //todo
            }
          }
        }
      }

      .c-header__backdrop {
        //todo
      }
    }

    .c-header__actions {
      margin-inline-start: auto;
      --space: 1.5rem;

      .c-header__cart {
        position: relative;

        .c-badge {
          position: absolute;
          top: -15%;
          left: 38%;
          width: 19px;
          height: 13px;
          background-color: $Orange-500;
          border-radius: 6.5px;
          font-family: $font-family-primary;
          font-size: 0.625rem;
          color: $White;

          //등장 애니 메이션
          transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;

          &::after {
            content: attr(data-count);
          }

          &[data-count="0"] {
            opacity: 0;
            transform: scale(0);
            pointer-events: none;
          }
        }
      }

      .c-header__avatar {
        .c-avatar__image {
          width: clamp(1.5rem, calc(-0.051rem + 6.616vw), 3.125rem);
          height: auto;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }

      .c-header__cart-panel {
        //todo
      }
    }
  }
}

/* ################# Main   ################ */
.c-page {
  .c-product {

    // border: 1px solid #000;
    .c-product__layout {
      --threshold: 61rem;

      // 상품 컴포넌트 안에서 갤러리가 차지하는 위치·크기 등 배치를 담당
      .c-product__gallery {
        min-inline-size: 0; // = min-width: 0

        // 모바일: l-center 여백만큼 밖으로 확장 (full-bleed)
        @media (max-width: 63.99em) {
          // 프로젝트 분기점에 맞춤
          margin-inline: calc(var(--s1) * -1);
          //요소에 좌우 음수 마진을 주면, 해당 요소가 양옆으로 늘어나서 부모 컨테이너의 영역 밖으로
        }
      }

      //썸네일
      .c-gallery__thumbs {
        display: none;
      }
    }
  }
}

// 갤러리 자체를 독립적인 컴포넌트로 정의
.c-gallery {
  .c-gallery__stage {
    position: relative; //화살표 기준

    .c-gallery__list {
      //Slick 초기화 전에 나머지 이미지를 숨긴다.
      &:not(.slick-initialized) {
        >.c-gallery__open:not(:first-child) {
          display: none;
        }
      }

      .c-gallery__open {
        .c-gallery__frame {
          --n: 375;
          --d: 300;
        }
      }
    }

    //이전 다음 버튼
    .c-gallery__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); // 세로 중앙
      z-index: 1; // 슬라이드 위에 표시
      display: grid;
      place-items: center;
      inline-size: 2.5rem; //40px
      block-size: 2.5rem; //40px
      border-radius: 50%;
      background-color: #fff;
    }

    .c-gallery__control--prev {
      inset-inline-start: 1rem;
    }

    .c-gallery__control--next {
      inset-inline-end: 1rem;
    }
  }
}

//제품정보
.c-product__details {
  --space: 32px;

  .c-product__heading {
    --space: 16px;

    .c-product__brand {
      color: $Grey-500;
      @include text-preset-6;
    }

    .c-product__title {
      color: $Grey-950;
      @include text-preset-2;
    }

    .c-product__description {
      color: $Grey-500;
      @include text-preset-4;
    }
  }
}

.c-price {
  .c-price__sale {
    --space: var(--s0);

    .c-price__current {
      @include text-preset-2;
      color: $Grey-950;
    }

    .c-price__badge {
      @include text-preset-3-B;
      color: $White;
      background-color: $Grey-950;
      border-radius: 6px;
      padding-block: 3px;
      padding-inline: 9.5px;
    }
  }

  .c-price__original {
    del {
      @include text-preset-3-B;
      color: $Grey-950;
    }
  }
}

.c-quantity {
  position: relative;

  .c-quantity__button {
    position: absolute;
    // 버튼 자체의 위치를 세로 중앙으로 맞춤
    top: 50%;
    transform: translateY(-50%); // 세로 중앙
    z-index: 1; // 슬라이드 위에 표시
    //버튼 아이콘의 내부를 중앙으로 맞춘다
    display: grid;
    place-items: center;

    &.c-quantity__button--decrease {
      inset-inline-start: 1.1563rem;
    }

    &.c-quantity__button--increase {
      inset-inline-end: 1.1563rem;
    }
  }
}

.c-quantity__value {
  display: block;
  border-radius: 10px;
  background-color: $Grey-50;
  padding: 1rem;
  text-align: center;
  @include text-preset-3-B;
  color: $Grey-950;
}

.c-button--primary {
  padding: 16px 16px;
  background-color: $Orange-500;
  border-radius: 10px;
  text-align: center;

  .l-with-icon {
    @include text-preset-3-B;

    .icon {
      --space: 1rem;
      width: 17px;
      height: 16px;
    }
  }
}

/* ################# Dialog   ################ */
.c-lightbox {
  //todo
}

.c-attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.c-attribution a {
  color: hsl(228, 45%, 44%);
}